*{
  outline:0;
  padding: 0;
  margin:0;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;

}


html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  color: #2F393E;
  min-width: 320px;
  min-height: 100%;
  height: 100%;
  position: relative;
  width: 100%;
  background: #F5F7FA;
}


/** Form Steps **/
.form {
  position: absolute;
  height: fit-content;
  width: fit-content;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.form_steps {
  display: flex;
  align-items: center;
}

.form_info {
  background: #FFFFFF;
  border: 1px solid #D2D6E0;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 20px;
  width: 550px;
  max-width: 550px;
  height: 410px;
  position: relative;
}

.form_rg {margin-left: 24px;font-family: 'Roboto';padding: 0;overflow: hidden;}
.form_rg .form_step_1 {text-align: center;}
.form_step {display: none;}
.form_step.active {display: block;}
.form_step .title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #2F393E;
  padding: 20px 32px;
  border-bottom: 1px solid #D2D6E0;
}
.form_step .content {
  padding: 20px 33px;
  overflow: scroll;
  height: 430px;
}
.form_step .content h1 {
  font-weight: 800;
  font-size: 21px;
  line-height: 29px;
  color: #2F393E;
  margin-bottom: 25px;
}
.form_step .content .subtitle {
  font-weight: 800;
  font-size: 18px;
  line-height: 23px
  color: #2F393E;
  margin-bottom: 25px;
}
.form_step .content p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2F393E;
}
.form_step .content p:not(:last-child) {margin-bottom: 25px;}
/* Scrollbar Styling */
.form_step .content::-webkit-scrollbar {
    width: 0;
}
 
.form_step .content::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.form_step .content::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: #6d6d6d; 
}
.radio_group,.form_step .section {padding: 30px 32px;}
.radio_group:not(:last-child),
.form_step .section:not(:last-child) {border-bottom: 1px solid #D2D6E0;}


[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 14px;
    height: 14px;
    border: 2px solid #D4DAEA;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 8px;
    height: 8px;
    background: #3D7FFF;
    position: absolute;
    top: 5px;
    left: 5.2px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:checked + label:before {border: 2px solid #3D7FFF;}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.form_step .section {
  display: flex;
  align-items: center;
}
.form_step .section .name {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #C4C4C4;
}
.form_step .section .info {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #2F393E;
  margin-left: 21px;
}
.form_step .add_new {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #3D7FFF;
  padding: 33px;
  cursor: pointer;
}

.form_group {}
.form_group:not(:last-child) {margin-bottom: 21px;}
.form_group .title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #2F393E;
  margin-bottom: 14px;
}
.form_group input {
  background: #FFFFFF;
  border: 1px solid #D2D6E0;
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  height: 46px;
  padding: 13px 14px 10px 14px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #2F393E;
}

.form_group_button {display: flex;align-items: center;flex-wrap: wrap;}
.form_group button.key {
  background: #FFFFFF;
  border: 1px solid #D2D6E0;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 11px 14px 12px 14px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #2F393E;
}
.form_group button.key svg {margin-left: 7px;cursor: pointer;}
.form_group button.key:not(:last-child) {margin-right: 14px;}

button.next {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  background: #3D7FFE;
  border-radius: 117px;
  border: none;
  padding: 8px 18px;
  min-width: 114px;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

@media only screen and (max-width:1150px){
  .form_steps {display: block;}
  .form_rg {margin-left: 0;margin-top: 24px;}
}

@media only screen and (max-width:670px){
  .form {
    padding: 20px;
    position: initial;
    height: auto;
    width: auto;
  }
  .form_info {max-width: 100%;width: 100%;margin: auto;height: auto;}
  .form_rg {margin-top: 24px;}
  .form_rg .form_step_1 img {width: 100%;}

  .form_group button.key:not(:last-child) {margin-bottom: 7px;}

  button.next {position: initial;margin-left: auto;display: block;}
}

@media only screen and (max-height:450px){
  .form {padding: 40px 0;position: inherit;}
}